In [2]:
car_brands = ['toyota', 'audi', 'bmw', 'suziki']
car_brands.sort()
print(car_brands)
print(car_brands[0].upper())

['audi', 'bmw', 'suziki', 'toyota']
AUDI

In [3]:
car_brands.sort(reverse = True)
print(car_brands)

['toyota', 'suziki', 'bmw', 'audi']

In [4]:
mehmonlar = ['Timur', 'Tursinbek', 'Atabek', 'Qosibay']
print("sorted() qaytargan ro'yxat:", sorted(mehmonlar))
print("Asil ro'yxat o'zgarmas qoldi:", mehmonlar)

sorted() qaytargan ro'yxat: ['Atabek', 'Qosibay', 'Timur', 'Tursinbek']
Asil ro'yxat o'zgarmas qoldi: ['Timur', 'Tursinbek', 'Atabek', 'Qosibay']

In [5]:
print("sorted() qaytargan ro'yxat:", sorted(mehmonlar, reverse = True))

sorted() qaytargan ro'yxat: ['Tursinbek', 'Timur', 'Qosibay', 'Atabek']

In [7]:
sonlar = [99, 54, 65, 23, 42, 43]
sonlar.sort()
print(sonlar)
print(sorted(sonlar, reverse = True))

[23, 42, 43, 54, 65, 99]
[99, 65, 54, 43, 42, 23]

In [8]:
fruits = ['pear', 'apple', 'banana', 'watermelon', 'lemon']
print(fruits)
fruits.reverse()
print(fruits)

['pear', 'apple', 'banana', 'watermelon', 'lemon']
['lemon', 'watermelon', 'banana', 'apple', 'pear']

In [9]:
print("Elementler soni:", len(fruits))

Elementler soni: 5

In [10]:
sanlar = list(range(0,10))
print(sanlar)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
juft_sonlar = list(range(0, 20, 2))
toq_sonlar = list(range(1, 20, 2))
print("Juft sonlar", juft_sonlar)
print("Toq sonlar:", toq_sonlar)

Juft sonlar [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Toq sonlar: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
narxlar = [13000, 12000, 65000, 34200]
arzon = min(narxlar)
qimmat = max(narxlar)
jami = sum(narxlar)
print(f"En arzon narx {arzon}, eng qimmat narx {qimmat}. Jame: {jami}")

En arzon narx 12000, eng qimmat narx 65000. Jame: 124200

In [14]:
cars = ['mers', 'bmw', 'vw', 'gm', 'toyota', 'kia', 'rr', 'suziki', 'honda']
my_cars = cars[0 : 3]
print(my_cars)

['mers', 'bmw', 'vw']

In [15]:
print(cars[2:4])

['vw', 'gm']

In [16]:
print(cars[:2])

['mers', 'bmw']

In [17]:
print(cars[3:])

['gm', 'toyota', 'kia', 'rr', 'suziki', 'honda']

In [19]:
sonlar = [1, 4, 2, 3, 5, 9, 6, 7]
sonlar2 = sonlar[:]
sonlar2.append(8)
print("Bu SONLAR ro'yxati:", sonlar)
print("Bu SONLAR2 ro'yxati:", sonlar2)

Bu SONLAR ro'yxati: [1, 4, 2, 3, 5, 9, 6, 7]
Bu SONLAR2 ro'yxati: [1, 4, 2, 3, 5, 9, 6, 7, 8]

In [20]:
# tuples - o'zgarmas ro'yxatlar
tomonlar = (20, 30, 55.2)
print(tomonlar)

(20, 30, 55.2)

In [21]:
print(tomonlar[-1])

55.2

In [22]:
print(tomonlar[0])
print(tomonlar[2])

20
55.2

In [23]:
tomonlar[2] = 1
print(tomonlar)

TypeError: 'tuple' object does not support item assignment

In [24]:
print(type(tomonlar))

<class 'tuple'>

In [ ]:
toys = ('bus','car','bear','dino','snake','lizard') # o'zgarmas ro'yxat
toys = list(toys) # o'zgarmas ro'yxatni oddiy ro'yxatga (List) aylantiramiz
# Ro'yxatga o'zgartirishlar kiritamiz
toys.append('dragon')
toys.remove('bus')
toys[1] = 'mcqueen'
toys = tuple(toys) # Ro'yxatni qaytadan o'zgarmas ro'yxatga (Tuple) aylantiramiz
print(toys)

In [25]:
mamleketler = ['Qaraqalpaqstan', 'Ozbekistan', 'Qazaqstan', 'Turkmenstan', 'Qirgizstan']
print(mamleketler)

['Qaraqalpaqstan', 'Ozbekistan', 'Qazaqstan', 'Turkmenstan', 'Qirgizstan']

In [26]:
print(len(mamleketler))

5

In [27]:
print(sorted(mamleketler))

['Ozbekistan', 'Qaraqalpaqstan', 'Qazaqstan', 'Qirgizstan', 'Turkmenstan']

In [28]:
print(sorted(mamleketler, reverse = True))

['Turkmenstan', 'Qirgizstan', 'Qazaqstan', 'Qaraqalpaqstan', 'Ozbekistan']

In [29]:
mamleketler.sort()
print(mamleketler)

['Ozbekistan', 'Qaraqalpaqstan', 'Qazaqstan', 'Qirgizstan', 'Turkmenstan']

In [30]:
mamleketler.sort(reverse = True)
print(mamleketler)

['Turkmenstan', 'Qirgizstan', 'Qazaqstan', 'Qaraqalpaqstan', 'Ozbekistan']

In [31]:
sanlar = list(range(120, 1200, 2))
print(sanlar)

[120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198]

In [32]:
print(sum(sanlar))

355860

In [34]:
ortasidagi_farq = max(sanlar) - min(sanlar)
print(ortasidagi_farq)

1078

In [37]:
print(len(sanlar))
print(sanlar)

540
[120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198]

In [35]:
print(sanlar[:20])

[120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158]

In [40]:
print(sanlar[250:270])

[620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658]

In [44]:
print(sanlar[-20:])

[1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198]

In [42]:
taomlar = ['shay', 'tuqum', 'manti', 'et', 'palaw']
nonushta = taomlar[:]
nonushta.append('pelmen')
nonushta.append('gurtuk')
print(taomlar)
print(nonushta)

['shay', 'tuqum', 'manti', 'et', 'palaw']
['shay', 'tuqum', 'manti', 'et', 'palaw', 'pelmen', 'gurtuk']

In [43]:
taomlar = tuple(taomlar)
taomlar[0] = 'pelmen'

TypeError: 'tuple' object does not support item assignment